<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="hongruanConnectionString1" connectionString="Data Source=D1C07BC18DDB42A;Initial Catalog=hongruan;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 连接字符串,(可以扩展支持不同数据库)如果是加密方式D835F7E5626A46C\SQLEXPRESS，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false -->
    <add key="ConnectionString" value="server=39.105.189.49,21433;database=sl3Enterprise;uid=sa;pwd=sltd@gps"/>
    <!--8618B53C32BF8E0B6CD3BDFF59B9F24BE1C6D586A5915C8B6DC69A09ABB2DF60A4026BDE8E76B6FDE2BFCEA3FA8E06CB-->
    <!--<add key="ConnectionString2" value="server=.\SQLEXPRESS;database=hongruan;uid=sa;pwd="/>
    <add key="ConnectionString3" value="server=D835F7E5626A46C\SQLEXPRESS;database=hongruan;uid=sa;pwd="/>
    <add key="ConnectionString4" value="server=D835F7E5626A46C\SQLEXPRESS;database=hongruan;uid=sa;pwd=1234"/>
    <add key="ConnectionString5" value="server=.\SQLEXPRESS;database=hongruan;integrated security=SSPI "/>-->
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
    <!--<compilation debug="true" targetFramework="4.5.1"/>
    <customErrors mode="Off"/>
    <identity impersonate="true"/>-->
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true"/>
  </system.web>
</configuration>